* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    background-color: #E6E6E6;
    font-family: Arial, Helvetica, sans-serif;
  }
  nav {
    background-color: #555;
    position: fixed;
    top: 0;
    width: 100%;
  }
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }
  li {
    display: inline-block;
    margin-right: 1em;
    height: 2em;
    line-height: 2em; 
    padding: 0 15px;
  }
  .last-li {
    margin-left: auto;
  }
  a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #999;
}
  nav a:hover {
    color: #fff;
  }
  nav i {
    color: #fff;
  }
  .search-nav-section {
    height: 100%;
    padding-left: 10px;
    border: none;
    border-radius: 3px;
  }

  .sample {
      margin-top: 20px;
      margin-bottom: 50px;
  }

  .sales-grid {
      width: 80%;
      margin: auto;
  }

  .card-body-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border: 1px solid #888;
    width: 90%;margin: auto;
    grid-row-gap: 20px;
}


.card-body-grid-item {
    padding: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    color: #333;
}


footer {
    background-color: #555;
    text-align: center;
    color: #fff;
    padding: 5px 0;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    width: 100%;
  }

  .remove-item {
    background-color: green;
  }
  .heading-customers {
      display: flex;
      justify-content: center;
      margin-top: 80px;
  }
  .heading-customers .h1 {
      color: black;
  }
  .full-name{
    color: blue;
  }
  .full-name:hover{
    cursor: pointer;
  }